.grid-container1{

}

.i1{
    background-image: url("imgs/pexels-photo-2961121.jpeg");
    
}

.i2{
    background-image: url("imgs/");
    
}
.i3{
    background-image: url("imgs");
    
}
.i4{
    background-image: url("imgs");
    
}
.i5{
    background-image: url("imgs");
    
}
.i6{
    background-image: url("imgs");
    
}


