

nav{
    height: 100px;
    background-color: violet;
}
header{
height: 300px;
background-color: chartreuse;
width: 100%;
}
aside{
    height: 200px;
    width: 50%;
    background-color: darkcyan;
}
main{
    
    height: 200px;
    background-color: darkgrey;
    display: block;
    width: 50%;
}
                                        
.pagina{
    display: flex;
    flex-wrap: wrap;
}



@media all and (max-width: 600px)
{
div, nav, header, aside, main
{
/* Cuando el ancho sea inferior a 600px el elemento será un bloque */
display: block !important;
/* Se ajustarán al ancho de la ventana */
width: 100% !important;
margin: auto !important;
/* La posición será estática (flujo normal del documento) */
position: static !important;
/* los elementos dejarán de ser flotantes */
float: none !important;
}
}